:root {
    --red: rgba(151, 59, 40, 0.8);
    --darkgreen: rgba(87, 88, 59, 0.9);
    --green: rgba(102, 141, 81, 0.8);
    --yellow: rgba(223, 193, 98, 0.8);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: var(--darkgreen);
    font-size: 16px; /* 1rem = 10px */
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: white;
}

.bg-title{
    background-color: var(--red);
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    color: white;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: italic;
}

.title span {
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    margin: 0;
}
.nav-background{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-around;
}
.main-navbar {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .main-navbar {
        flex-direction: row;
    }
}
.main-navbar a {
    
    color: var(--darkgreen);
    text-decoration: none;
    font-size: 2rem;
    padding : 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 500;
}
.main-navbar a:hover{
    background-color: var(--green);
    color: white;
    font-weight: bold;
}
.main-navbar a:focus{
    background-color: var(--green);
    color: var(--yellow);
}
.sb-title{
    background-image: url(../img/sb_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sb-content{
    background-color: var(--yelow);
    text-align: center;
    color: var(--darkgreen);
    padding: 2rem;

}
.sb-title a{
    padding:  1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--yellow);
    color: var(--darkgreen);
    font-size: 2rem;
    font-weight: 500;
    text-decoration:none;
}
.sb-title a:hover{
    background-color: var(--green);
    color:white;
    font-weight: bold;
}
